snippet des "Describe (js)"
	describe('${1:description}', () => {
		$0
	});

snippet it "it (js)"
	it('${1:description}', () => {
		$0
	});

snippet bef "before (js)"
	before(() => {
		$0
	});

snippet bef "beforeEach (js)"
	beforeEach(() => {
		$0
	});
